<html lang="en">

<head>
  {{>header}}
</head>

<body>
  {{>navbar}}
  <div class="containter-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!--right-->
          <div class="col-md-12 col-12 main_header_right align-items-center">

            <figure>
              <img src="images\qwer_edited-1024x473.jpg" alt="arpit" class="img-fluid" title="arpit k jain">
            </figure>

            <p>welcome to the Akj's project</p>
            <h1>{{errorMsg}}</h1>
            <a href="/"><button>Go back</button></a>
          </div>

        </div>
      </div>

    </div>

  </div>

  <!--footer code-->
  {{>footer}}
</body>

</html>