<html lang="en">

<head>
  {{>header}}
</head>

<body>
  {{>navbar}}
  <div class="containter-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!--right-->
          <div class="col-md-6 col-12 main_header_right align-items-center">

            <figure>
              <img src="images/own-removebg-preview.png" alt="arpit" class="img-fluid" title="arpit k jain">
            </figure>

          </div>
          <!--left-->
          <div class="col-md-6 col-12 main_header_left">
            <p>welcome to the Akj's project</p>
            <h1>I am a <span class="text_cr">mern stack developer</span> and online coding instructor</h1>
            <a href="https://www.linkedin.com/in/arpit-kumar-jain-b80b74113/" target="blank"><button>know
                more</button></a>
          </div>

        </div>
      </div>

    </div>

  </div>

  <!--footer code-->
  {{>footer}}
</body>

</html>